nav{
    height: 80px;
  
    background-color: var(--main-color);
  
    display: flex;
    align-items: center;
  
    color: white;
  }
  
.logo{
  white-space: nowrap;

  display: flex;
  align-items: center;
}

.logo-icon{
  font-size: 40px;
}

.user{
  margin-right: 30px;
  cursor: pointer;
}

.user-menu-container{
  position: relative;
}

.user-menu{
  width: 100px;
  position: absolute;
  right: 30px;
  top: 15px;
  background-color: var(--third-color);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}