.searchbar-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 30px;
    border-radius: 6px;
    padding: 10px;
}

.searchbar{
    height: 40px;
    width: 450px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

.search-button{
    background-color: var(--main-color);
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    cursor: pointer;
    border-radius: 6px;
}

.window{
    color: black;
    background-color: white;
    border-radius: 6px;
    width: 1000px;

    margin-bottom: 50px;
}

.window-header{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    font-size: 25px;
}

.window-header > a{
    font-size: 18px;
}

.window-header > a:hover{
    text-decoration: underline;
}

.window-content{
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 0px 0px 0px;
}