nav{
  height: 80px;
  width: 100%;

  background-color: var(--main-color);

  display: flex;
  align-items: center;

  color: white;
  user-select: none;

  z-index: 999;
}

.nav-menu-container{
  width: 0px;
  height: 0px;
}

.nav-menu{
  background-color: var(--main-color);
  width: 250px;
  position: relative;
  top: 40px;
  cursor: pointer;
}

.nav-menu-item{
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  font-size: 20px;
}

.nav-menu-item:hover{
  background-color: #2A5C2D;
}

.nav-menu-item > span{
  margin-left: 20px;
}

.menu-icon{
  margin-left: 30px;
  font-size: 25px;
}

.logo{
  white-space: nowrap;

  display: flex;
  align-items: center;
}

.logo-icon{
  font-size: 40px;
}

.user{
  margin-right: 30px;
  cursor: pointer;
  font-size: 18px;
}

.user-menu-container{
  position: relative;
}

.user-menu{
  width: 100px;
  position: absolute;
  right: 30px;
  top: 15px;
  background-color: var(--third-color);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}