h1{
    color: black;
    margin-top: 20px;
}

@mixin button(){
    border: none;
    width: 150px;
    height: 35px;
    font-weight: bold;
    border-radius: 6px;
    margin: 15px;
}

.buttonContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    @include button();

    background-color: var(--main-color);
    color: white;
}

.window{
    color: black;
    background-color: white;
    border-radius: 6px;
    width: 1000px;

    margin: 20px 0px;

    .header{
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        color: white;
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        font-size: 25px;
    }

    .content{
        display: flex;
        justify-content: flex-start;
        padding: 40px;
        border: 1px solid var(--main-color);
        border-radius: 0px 0px 6px 6px;

        .imgContainer{
            margin-right: 20px;
            max-width: 20%;

            img{
                max-width: 100%;
                object-fit: contain;
            }
        }

        .sectionList{

            flex: 1;

            .section{
                font-weight: bold;
                background-color: var(--main-color);
                color: white;
                border-radius: 6px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                cursor: pointer;
                margin-bottom: 20px;
            }

            .section:hover{
                opacity: 0.8;
            }
        }
    }
}